@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
font-family: 'Source Sans Pro', sans-serif;
background-color: #FEC8D8
}
container{
  align-items: center;
  margin: auto;
  padding: auto;
}
form-control button {
  width: 100%;
}
