@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

input{
  width:100%
}
input:focus{
  background-color: #909090
}

.container{
  align-items: center;
  width: 75%;
  margin: auto;
}
h2{
  text-align:center
}
label{
  color: #DC143C;
}
