@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #FFDFD3;
}
input{
  width:100%
}
input:focus{
  background-color: #FFFFFF
}

.container{
  align-items: center;
  width: 75%;
  margin: auto;
  border-color: #00000;
}
h2{
  text-align:center
}
label{
  color: #DC143C;
}
.form-control input:focus{
  outline:0;
  border-color: #777;
}
.form-control.success input{
  border-color: #2ecc71
}
.form-control.error input{
  border-color: #e74c3c
}
.form-control{
position:relative;

}
.form-control i {
  position:absolute;
  right:12px;
  visibility: hidden;
}
.form-control small{
  visibility: hidden;
  position:absolute;
}
.form-control.error small{
  visibility: visible;
}
.form-control.success i.fa-check-circle{
  color: #2ecc71
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
  visibility: visible;
  color: #e74c3c
}
